@font-face {
	font-family: "Red Hat Text Bold";
	src: url(../fonts/static/RedHatText-Bold.ttf);
}

@font-face {
	font-family: "Red Hat Text Semi Bold";
	src: url(../fonts/static/RedHatText-SemiBold.ttf);
}

@font-face {
	font-family: "Red Hat Text Regular";
	src: url(../fonts/static/RedHatText-Regular.ttf);
}

:root{ 

	/* colors */
	--red: hsl(14, 86%, 42%);
	--rose-50: hsl(20, 50%, 98%);
	--rose-100: hsl(13, 31%, 94%);
	--rose-300: hsl(14, 25%, 72%);
	--rose-400: hsl(7, 20%, 60%);
	--rose-500: hsl(12, 20%, 44%);
	--rose-900: hsl(14, 65%, 9%);
	--green: hsl(159, 69%, 38%); 
	--black: hsl(0, 0%, 0%); 
	--white: hsl(0, 0%, 100%); 


	/* spacing */
	--text-1: 56px;
	--text-2: 24px;
	--text-3: 16px;
	--text-4: 14px;
	--text-4-b: 14px;
	--text-5: 14px;

	/* line-height */
	--lh-1: 120%;
	--lh-2: 125%;
	--lh-3: 150%;

	/* font-family */
	--ff-bold: "Red Hat Text Bold";
	--ff-semi: "Red Hat Text Semi Bold";
	--ff-regular: "Red Hat Text Regular";

	/* spacing */
	--space-50: 4px;
	--space-100: calc(2 * var(--space-50));
	--space-150: calc(3 * var(--space-50));
	--space-200: calc(4 * var(--space-50));
	--space-300: calc(6 * var(--space-50));
	--space-400: calc(8 * var(--space-50));
	--space-500: calc(10 * var(--space-50));
	--space-1100: calc(22 * var(--space-50));

}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	letter-spacing: 0px;
	position: relative;
}

body {
	width: fit-content;
	margin: auto;
	background: var(--rose-50);
	padding: var(--space-100);
}

/*  layout main */
#canvas {
	padding: var(--space-500) var(--space-1100);
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: var(--space-400);
}



/* dessert container */

#desserts {
	display: flex;
	flex-direction: column;
	gap: var(--space-400);
}

.title {
	font-family: var(--ff-bold);
	color: var(--black);
	font-size: var(--text-1);
	line-height: var(--lh-1);
}

/* list container */

.list-cards {
	/* display: flex; */
	/* flex-direction: row; */
	/* flex-wrap: wrap; */
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-auto-rows: auto;
	gap: var(--space-400) var(--space-300);
}

/* card */
.card {
	max-width: 250px;
	max-height: 347px;
	font-family: var(--ff-bold);
	font-size: var(--text-4-b);
}

/* card head */
.card-head { 
	margin-bottom: var(--space-300);
}

.card-head img{
	width: 250px;
	max-height: 250px;
	border-radius: var(--space-100);
	border: none;
	outline: none;
	box-shadow: var(--black) 0px 0px 0px;
}

.card-head .btn-container {
	width: 100%;
	font-size: var(--text-4-b);
	
	display: flex;
	justify-content: center;

	position: absolute;
	bottom: calc(-1 * (var(--text-4-b) + var(--space-150) + 1px ) / 2);
}

.card-head .btn-container button {
	width: 160px;
	font-family: var(--ff-semi);
	font-size: var(--text-4-b);
	line-height: var(--lh-1);
	color: var(--rose-900);
	padding: var(--space-150);
	border-radius: 40px;
	outline: none;
	border: solid 1px var(--rose-400);
	background: var(--white);
	cursor: pointer;
}

.card-head .btn-container button.added {
	background-color: var(--red);
	color: var(--white);
	display: flex;
	justify-content: space-between;
	align-items: center;
}


.card-head .btn-container button:hover {
	border-color: var(--red);
	color: var(--red);
}

.card-head .btn-container button.added:hover {
	background-color: var(--red);
	color: var(--white);
}


.card-head .btn-container button span {
	display:flex;
	align-items: center;
	justify-content: center;
	gap: var(--space-100);
}

.card-head .btn-container button .cart-img {
	color: var(--red);
	width: 20px;
	height: 20px;
}
.add-to-cart, .cart-manager {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	gap: var(--space-100);
	padding: var(--space-150);
	max-width: 160px;
}

.cart-manager {
	justify-content: space-between;
	background-color: var(--red)!important;
}

.amount-articles {
	color: var(--white);
}
.decrease-btn, .increase-btn {
	border: solid 1px;
	border-radius:40px;
	width: 10px;
	height: 10px;
	padding: 10px;
	color: var(--white);

}



/* card body */
.card .card-body {
	display:flex;
	flex-direction: column;
	gap: var(--space-50);
}

.card .card-body .category {
	font-family: var(--ff-regular);
	color: var(--rose-500);
	font-size: var(--text-4);
	
}
.card .card-body .name {
	font-size: var(--text-3);
	font-family: var(--ff-semi);
}

.card .card-body .price {
	font-size: var(--text-3);
	font-family: var(--ff-semi);
	color: var(--red);
}

.card .card-body .price::before {
	content: "$";
}


/* cart container */

.cart { 
	background-color: var(--white);
	width: 384px;
	padding: var(--space-300);
	display: flex;
	flex-direction: column;
	gap: var(--space-300);
	border-radius: var(--space-150);
}

.cart-info {
	color: var(--red);
	font-family: var(--ff-bold);
	font-size: var(--text-2);
	width: fit-content;
}

.empty-cart {
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.empty-cart-img {
	width: fit-content;
	margin: auto;
}
.empty-cart-msg {
	color: var(--rose-400);
	font-family: var(--ff-semi);
	font-size: var(--text-4-b);
	text-align:center;
}

/* article ( in cart ) */

.article {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;

	font-family: var(--ff-semi);
}
.article-wrapper {
	display: flex;
	gap: var(--space-100);
	flex-direction: column;
}
.article-info {
	display: flex;
	gap: var(--space-100);
}

.article-amount {
	color: var(--red);
	font-family: var(--ff-semi);
	font-size: var(--text-4-b);
	width: 21px;
}

.article-unit-price, .article-sum {
	font-size: var(--text-4-b);
	color: var(--rose-500);
	line-height: 19px;
	padding: 0;
	margin: 0;
	margin-bottom: auto;
	font-family: var(--ff-regular);
}

.article-sum {
	font-size: var(--text-4-b);
	font-family: var(--ff-semi);
}

.article-close { 
	border: solid var(--rose-400) 1px;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	align-items: center;
	justify-content: center;
	display: flex;
	cursor: pointer;
}

.article-separator {
	height: 1px;
	width: 100%;
	background: var(--rose-100);
	margin: var(--space-300) 0;
}


.cart-order-total {
	
	margin-top: var(--space-300);
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-family: var(--ff-regular);
	margin-bottom: var(--space-200);
}

.cart-order-total .cart-order-total-price{ 
	font-family: var(--ff-bold);
	font-size: var(--text-2);
}

.carbon-neutral {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: var(--space-200);
	margin: var(--space-300) 0; 
	background: var(--rose-50);
	border-radius: var(--space-100);
	gap: var(--space-100);
	font-family: var(--ff-regular);
	color: var(--rose-900);
	font-size: var(--text-4-b);
	margin-bottom: var(--space-200);
}

/* confirm button cta */

.confirm-btn {
	background: var(--red);
	border: none;
	border-radius: 40px;
	color: var(--white);
	padding: var(--space-200) var(--space-300);
	text-align: center;
	font-family: var(--ff-semi);
	margin: var(--space-300) 0;
	cursor: pointer;
}

/* .modal */
#screen-modal {
	z-index: 1000;
	position: fixed;
	width: 100vw;
	height: 100vh;
	left: 0;
	top: 0;
	background-color: rgba(0,0,0,0.5);
	display: flex;
	align-items:center;
	justify-content: center;
}
.modal {
	background-color: var(--white);
	display: flex;
	flex-direction: column;
	gap: var(--space-400);
	padding: var(--space-500);
	font-family: var(--ff-regular);
	min-width: 688px;
	border-radius: var(--space-100);
}
.modal-head {
	display:flex;
	flex-direction: column;
	gap: var(--space-300);
}
.modal-head .confirmed-img {
	width: 48px;
	height: 48px;
}
.modal-head .titles {
	display: flex;
	flex-direction: column;
	gap: var(--space-100);
}
.modal-head .title {
	color: var(--rose-900);
	font-size: 40px; /* 40px */
	line-height: var(--lh-1);
}
.modal-head .subtitle {
	color: var(--rose-500);
}
.modal-body {
	padding: var(--space-300);
	background: var(--rose-50);
	border-radius: var(--space-100);
}
.modal .article-close {
	display: none;
}
/*  helpers */
#data {
	display: none;
}


#screen-modal {
	/* overflow-y: auto; */
}

.modal {
	overflow: hidden;
	max-height: auto;
	margin-top: 120px;
	margin-bottom: 76px;
}
#articles-selected-ordered{
	max-height: 250px;
	overflow-y: scroll;
}
@media screen and (max-width: 1439px) {

	#screen-modal {
		width:100%;
	}

	.modal {
		overflow: hidden;
		margin-top: 120px;
		margin-bottom: 76px;
	}
	#articles-selected-ordered{
		max-height: 250px;
		overflow-y: scroll;
	}
	#desserts {
		width: fit-content;
		margin: auto;
	}
	
	#cart {
		width: 687.36px;
		margin:  auto;
	}
	.cart{
		width: 100%;
	}
	body {
		padding: 0px;
	}
	#canvas {
		padding: var(--space-500);
		display: flex;
		flex-direction: column;
		gap: var(--space-400);
		width: fit-content;
	}

	.list-cards {
		gap: var(--space-300);
	}

	.card, .card img {
		width: 213.13px;
	}



}

@media screen and (max-width: 767px) {
	

	#screen-modal {
		position: fixed;
		left: 0;
		top: 0;

		align-items: flex-end;
		justify-content: start;
		margin:0!important;
		padding:0!important;
		
		width:100%;
		height: -webkit-fill-available;
	}
	.modal {
		padding: var(--space-300);
		padding-top: var(--space-500);
		padding-bottom: var(--space-500);
		min-width: 100px;
		width: 100%;
		margin:0;
		box-sizing: content-box;
		border-radius: var(--space-100) var(--space-100) 0 0;
	}
	#desserts{
		margin:0;
		width: 100%;
	}
	#canvas {
		padding: var(--space-500);
		display: flex;
		flex-direction: column;
		margin:auto;
		gap: var(--space-300);
		width: fit-content;
	}

	.list-cards {
		display: flex;
		flex-direction: column;
		gap: var(--space-300);
	}

	.card, .card-head, .card .card-head > img {
		min-width: 100%!important;
		max-width: 100%!important;
	}

	.card{
		height: 319px;
		gap: var(--space-300);
	}

	.card .card-head {
		height: 234px;
		margin-bottom: 10px!important;
	}

	.card-head .btn-container {
		bottom: var(--space-50);
	}
	.card .card-head > img{
		height: 212px;
	}


	.card .card-body {
		height: 69px;
	}

	#cart, .cart {
		width: 100%;
	}

	div.cart {
		min-width: 306.88px;
	}

	.add-to-cart {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.titles{
		width: 327px;
		display:flex!important;
		flex-direction: column-reverse!important;
	}
}